
*{
    scroll-behavior: smooth;
    /* color: white; */
}
/* #navbar{
    position: fixed;
    width: 95%;
    z-index: 1;
} */

#welcome {
    display: flex;
    flex-direction: column;
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url("images/code.png");
    background-position: center;
    background-size: cover;
    height: 100vh;
    color:white;
    width:100%;
}



#welcome .about{
    align-self: center;
    margin-top: 20%;
    
}


#welcome #link-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    column-gap: 14px;
    margin-right: 10px;
}

#link-list a{
    text-decoration: none;
}




/* PROJECTS SECTION */

#projects{
    display: flex;
    flex-direction: column;
    background-color: rgba(187, 139, 139, 0.774);
    padding: 30px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

#projects .heading{
    align-self: center;

}


hr{
    background-color: #000;
    height: 3px;
}



/* THE ACTUAL PROJECTS */
#projects .cards{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}



/* THE CARD (images & button) */
.cards .card{
    border:1px solid white;
    border-radius: 30px;
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 10px;
}


.card img{
    width:100%;
    align-self: center;

    margin-bottom: 10px;
}



/* Contact Section */

#contact{
    background-color: rgb(184, 190, 196);
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

#contact p{
    margin-top: 20px;
}



.platforms{
    width: 70%;
    display: flex;
    justify-self: center;
    justify-content: center;
    column-gap: 15px;
}



.specialities{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(188, 178, 197);
    padding: 10px;
}
.specialities  .title{
    align-self: center;
}

.specialities .stack{
    align-self: start;
    display: flex;
    flex-direction: row;
    width: 100%;
}


















/* For Small Devices */


@media (max-width:768px){
    #welcome{
        display: flex;
        flex-direction: column;
        height: 90vh;
    }

    #welcome .about h1{
        font-size: 20px;
    }
    #welcome .about {
        margin-top: 40%;

    }
    
    #welcome #link-list{
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto;
    }
    #projects .heading h1{
        font-size: 30px;
    }

    .cards .description h3{
        font-size: 24px;
    }
    #projects .cards{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #projects .card{
        width:98%;
        border-radius: 30px;
    }

    
    #projects .cards{
        flex-direction: column;
    }

    .platforms{
         width: 100%;
         align-self: flex-start;
         justify-content: space-between;
         flex-wrap: wrap;
       }  
       .specialities  .title h3{
        font-size: 18px;
    }
    .specialities  .stack{
        flex-direction: column;
    }
}