
*{
    scroll-behavior: smooth;
    /* color: white; */
}
/* #navbar{
    position: fixed;
    width: 95%;
    z-index: 1;
} */
nav ul a{
    color: white;
}

#welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(239, 239, 241, 0.986);
    color:#000;
}



#welcome .about{
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: cursive;
}




/* PROJECTS SECTION */

#projects{
    display: flex;
    flex-direction: column;
    background-color: rgba(187, 139, 139, 0.774);
    padding: 30px;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
}

#projects .heading{
    align-self: center;

}

#projects hr{
    background-color: #fff;
    color: white;
    height: 5px;
}



/* THE ACTUAL PROJECTS */
#projects .cards{
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}



/* THE CARD (images & button) */
.cards .card{
    border:1px solid white;
    border-radius: 30px;
    margin-bottom: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 10px;
}


.card img{
    width:100%;
    align-self: center;

    margin-bottom: 10px;
}



/* Contact Section */

#contact{
    background-color: slategray;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
}

#contact p{
    margin-top: 20px;
}

.info hr{
    background-color: #fff;
    color: white;
    height: 5px;
    width: 100%;
}

.platforms{
    width: 20%;
    display: flex;
}



.specialities{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: blueviolet;
    padding: 10px;
}
.specialities  .title{
    align-self: center;
}

.specialities .stack{
    align-self: start;
    display: flex;
    flex-direction: row;
    width: 100%;
}


















/* For Small Devices */


@media (max-width:768px){
    #welcome{
        display: flex;
        text-align: center;
    }
    #welcome .about h1{
        font-size: 20px;
    }
    #projects .heading h1{
        font-size: 30px;
    }

    .cards .description h3{
        font-size: 24px;
    }
    #projects .cards{
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        justify-content: flex-start;
    }
    #projects .card{
        width:98%;
        border-radius: 30px;
    }
    #welcome{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
    #projects .cards{
        flex-direction: column;
    }



    .navbar-nav{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .platforms{
         width: 100%;
         align-self: flex-start;
         justify-content: space-between;
       }  
       .specialities  .title h3{
        font-size: 18px;
    }
    .specialities  .stack{
        flex-direction: column;
    }
}